In [3]:
%%!
pip install --trusted-host pypi.org ipython-sql

['Requirement already satisfied: ipython-sql in c:\\osgeo4~1\\apps\\python37\\lib\\site-packages (0.3.9)',
 'Requirement already satisfied: ipython-genutils>=0.1.0 in c:\\osgeo4~1\\apps\\python37\\lib\\site-packages (from ipython-sql) (0.2.0)',
 'Requirement already satisfied: sqlalchemy>=0.6.7 in c:\\osgeo4~1\\apps\\python37\\lib\\site-packages (from ipython-sql) (1.3.16)',
 'Requirement already satisfied: six in c:\\users\\andre\\appdata\\roaming\\python\\python37\\site-packages (from ipython-sql) (1.12.0)',
 'Requirement already satisfied: ipython>=1.0 in c:\\osgeo4~1\\apps\\python37\\lib\\site-packages (from ipython-sql) (7.13.0)',
 'Requirement already satisfied: prettytable in c:\\osgeo4~1\\apps\\python37\\lib\\site-packages (from ipython-sql) (0.7.2)',
 'Requirement already satisfied: sqlparse in c:\\osgeo4~1\\apps\\python37\\lib\\site-packages (from ipython-sql) (0.3.1)',
 'Requirement already satisfied: pygments in c:\\osgeo4~1\\apps\\python37\\lib\\site-packages (from ipython>=1.0->ipython-sql) (2.5.2)',
 'Requirement already satisfied: pickleshare in c:\\osgeo4~1\\apps\\python37\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)',
 'Requirement already satisfied: backcall in c:\\osgeo4~1\\apps\\python37\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.1.0)',
 'Requirement already satisfied: colorama; sys_platform == "win32" in c:\\users\\andre\\appdata\\roaming\\python\\python37\\site-packages (from ipython>=1.0->ipython-sql) (0.4.1)',
 'Requirement already satisfied: traitlets>=4.2 in c:\\osgeo4~1\\apps\\python37\\lib\\site-packages (from ipython>=1.0->ipython-sql) (4.3.3)',
 'Requirement already satisfied: jedi>=0.10 in c:\\osgeo4~1\\apps\\python37\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.17.0)',
 'Requirement already satisfied: decorator in c:\\osgeo4~1\\apps\\python37\\lib\\site-packages (from ipython>=1.0->ipython-sql) (4.4.1)',
 'Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\\osgeo4~1\\apps\\python37\\lib\\site-packages (from ipython>=1.0->ipython-sql) (3.0.5)',
 'Requirement already satisfied: setuptools>=18.5 in c:\\osgeo4~1\\apps\\python37\\lib\\site-packages (from ipython>=1.0->ipython-sql) (45.2.0)',
 'Requirement already satisfied: parso>=0.7.0 in c:\\osgeo4~1\\apps\\python37\\lib\\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)',
 'Requirement already satisfied: wcwidth in c:\\osgeo4~1\\apps\\python37\\lib\\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.9)']

In [4]:
%load_ext sql

In [8]:
%sql sqlite://

'Connected: @None'

In [9]:
%%sql
CREATE TABLE writer (first_name,last_name,year_of_death);
INSERT INTO writer VALUES ('William','Shakespeare',1616);

 * sqlite://
Done.
1 rows affected.
(sqlite3.OperationalError) table writer has 3 columns but 2 values were supplied
[SQL: INSERT INTO writer VALUES ('Bertold','Brecht');]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [11]:
%%sql
INSERT INTO writer VALUES ('Bertold','Brecht',1956);

 * sqlite://
1 rows affected.

[]

In [12]:
%sql select * from writer

 * sqlite://
Done.

[('William', 'Shakespeare', 1616), ('Bertold', 'Brecht', 1956)]